<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Calendar{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.4.2/main.min.css">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@4.4.2/main.min.js"></script>
        <script>
            var events=[];
            document.addEventListener('DOMContentLoaded', () => {
                var specialist;
                console.log(specialist);
                //
                {# let specialist= {{ specialist }}; #}
                let specialistA = {{ specialistA|json_encode|raw }};

                let eventsA = [];
                let js_events = {{ events|json_encode|raw }};
                js_events.forEach(function (js_events) {
                    if (specialist === 'SpecjalistaA') {
                        eventsA.push({
                            title: js_events.summary,
                            start: js_events.start.dateTime,
                            end: js_events.end.dateTime,
                            //color: 'orange',
                        });
                    }
                });
                var calendarEl = document.getElementById('calendar-holder');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    defaultView: 'dayGridMonth',
                    locale: 'pl',
                    editable: true,
                    firstDay: 1,
                    slotDuration: '01:00',
                    slotMinTime: "10:00:00",
                    // eventSources: [
                    // {
                    //     url: "/fc-load-events",
                    //     method: "POST",
                    //     extraParams: {
                    //     filters: JSON.stringify({})
                    // },
                    // failure: () => {
                    // // alert("There was an error while fetching FullCalendar!");
                    // },
                    // },
                    // ],
                    eventTimeFormat: { // like '14:30:00'
                        hour: '2-digit',
                        minute: '2-digit',
                        //second: '2-digit',
                        meridiem: false
                    },
                    buttonText: {
                        Lista: {list: 'asd'}

                    },
                    businessHours: {
                        // days of week. an array of zero-based day of week integers (0=Sunday)
                        daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday
                        startTime: '10:00', // a start time (10am in this example)
                        endTime: '18:00', // an end time (6pm in this example)
                    },
                    header: {
                        left: 'prev,next today myCustomButton Lista',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay',
                    },
                    googleCalendarApiKey: 'AIzaSyBvc5Y3UcDZvHF8Myl3PCwFi8-xQPCTSDc',
                    events: events,
                    plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                });
                calendar.render();


            });
            function updateDiv()
            {
                $( "#calendar-holder" ).load(window.location.href + " #calendar-holder" );
            }
            function changeSpecialist() {
                let temp =document.querySelector('#specialist');
                specialist = temp.value;
                //document.getElementById("form").submit();
                events.push({
                    title: 'test',
                    start: '04-02-2021',
                    //end: js_events.end.dateTime,
                    //color: 'orange',
                });
                updateDiv();
            }




        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    {{ dump(specialistA) }}
    {% for event in events %}
        {{ dump(events) }}
        Start date: {{ event.start.dateTime }} <br>
        End date: {{ event.end.dateTime }} <br><br>
    {% endfor %}

    <div class="form">
        <form id="form" method="post">
            <label for="specialist">Zarejestruj wizyte: </label>

            <select id="specialist" name="specialist" onchange="changeSpecialist()">
                <option selected="default" disabled>Wybierz specjaliste</option>
                <option value="SpecjalistaA">Specjalista A</option>
                <option value="SpecjalistaB">Specjalista B</option>
                <option value="SpecjalistaC">Specjalista C</option>
            </select>

            <select id="time" name="time">
                <option selected="default" disabled>Wybierz godzine</option>
                <option value="10-11">10:00-11:00</option>
                <option value="11-12">11:00-12:00</option>
                <option value="12-13">12:00-13:00</option>
                <option value="13-14">13:00-14:00</option>
                <option value="14-15">14:00-15:00</option>
                <option value="15-16">15:00-16:00</option>
                <option value="16-17">16:00-17:00</option>
                <option value="17-18">17:00-18:00</option>
            </select>
            <input type="submit" value="Zarezerwuj i zapłać">
        </form>
    </div>

    <div id="calendar-holder"></div>
{% endblock %}
</body>
</html>